*{ 
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.allHeader{
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.headerSingolo{
    max-width: 1020px;
    margin: 0 auto;
    height: inherit;
    min-width: 880px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 6px;;
}

.headerSingolo .logoSingolo{
    font-weight: bold;
    font-size: 24px;
    margin-left: 40px;
    letter-spacing: -0.02rem;
    padding-bottom: 1px;
}

.h1Star{
    margin-left: -5px;
    color: #f06c64;
}

.nav{
    display: flex;
    list-style: none;
    font-size: .78rem;
    margin-right: 40px;
}

.nav li { 
    margin-left: 30px;
    padding-top: 9px;
    letter-spacing: -0.029rem;
    position: relative;
    cursor: pointer;
    transition: color .3s;
}

.navLinkHome{
    color: #f06c64;
    font-size: 12px;
    font-weight: 700px;
    display: block;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.navLink{
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700px;
    display: block;
    letter-spacing: -0.2px;
    text-decoration: none;
}

a:hover{
    color: #4adf05;
}

.nav li:not(:first-child)::before{
    content: ".";
    position: absolute;
    left: -16px;
    top: 6px;
    font-size: bold;
    color: rgb(73,78,98);
  }

.mainContent{
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.sliderBlock{
    max-width: 1020px; 
}

footer{
    min-height: 500px;
    background-color: #f2f2f2;
    color: #a8acc0; 
    border-bottom: 6px solid #ffffff; 
    padding: 0 30px;
}

.services {
    margin: 0 auto;
    max-width: 960px;
    padding: 59px 10px 0px 10px;
    }

.services h1{
    font-size: 1.9rem;
    font-weight: 900;
    letter-spacing: -0.025rem;   
} 

.ourServicesContainer{
    margin-top: 19px;
    text-align: justify;
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.01rem;
}

.footerServices{
    display: grid;
    grid-template-rows: 123px 123px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 19px;
    margin-top: 43px;
}

.allPicture{
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 3px;
    padding-left: 12px;
    padding-top: 12px;
    margin-top: 5px;
    box-shadow: 0 0 0 2px rgb(102, 109, 137);
}