body{ 
    font-family: "Lato", "Arial", sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    min-width: 1020px;
}

.logoSingolo{
    position: absolute;
    top: -11px;
    left:40px;
    font-family: "lato";
    color:#ffffff;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 700;
}

p{
    display: inline-block;
}

.navPanel{
    margin-left: auto;
}

ul.nav{
    display: inline-flex;
    position: absolute;
    top: 29px;
    left: 578px;
    margin: 0px;
    margin-top: 13px;
    padding: 0px;  
    list-style: none; 
}

.nav li { 
    position: relative;
    padding-left: 30px;
}

.navLinkHome{
    color: #f06c64;
    font-size: 12px;
    font-weight: 700px;
    display: block;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.navLink{
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700px;
    display: block;
    letter-spacing: -0.2px;
    text-decoration: none;
}

a:hover{
    color: #4adf05;
}

.h1Star{
    position: absolute;
    color: #f06c64;
}

.headerSingolo{
    background-color:#2d303a ;
    height: 89px;
}

.headerBottom{
    position: absolute;
    top: 89px;
    height: 6px;
    width: 100%;
    background-color: #323746;
}

.mainContent{
    position: absolute;
    top: 95px;
    height: 594px;
    width: 100%;
    background-color: #f06c64;
}

.mainContentBottom{
    position: absolute;
    top: 594px;
    height: 6px;
    width: 100%;
    background-color: #ea676b;
}

footer{
    position: absolute;
    top: 695px;
    height: 495px;
    width: 100%;
    background-color: #f2f2f2;
    color: #a8acc0;  
}

.footerBottom{
    position: absolute;
    top: 495px;
    height: 6px;
    width: 100%;
    background-color: #ffffff;
}

.services {
    position: absolute;
    top: 40px;
    left: 40px;
    }

.services p {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  margin: 0 5px;
  background-position: center top;
}    