@font-face { 
    font-family: 'LatoBlack'; 
    src: url('./assets/fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoBold'; 
    src: url('./assets/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoLight'; 
    src: url('./assets/lato/Lato-Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoRegular'; 
    src: url('./assets/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoThin'; 
    src: url('./assets/fonts/lato/Lato-Thin.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
*{ 
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
}

.wrapper{
    max-width: 1020px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;   
}

.portfolio{
    background-color: #2d303a;
    height: 870px;
    border-bottom: 6px solid #323746;   
}

.h1__portfolio{
    font-family: 'LatoBlack', sans-serif;
    font-size: 30px;
    color: #666d89;
    padding-top: 60px;
    letter-spacing: normal; 
}

.portfolio__p{
    font-family: 'LatoLight', sans-serif;
    color: #767e9e;
    padding-top: 23px;
    padding-left: 40px;
    letter-spacing: -0.4px;
    font-weight: 0;
}

.ul__portfolio__container{
    margin-left: 10px;
    margin-top: 4px;
    
}

.ul__portfolio__container ul{
    display: flex;
    list-style: none;
}

.ul__portfolio__container ul li{
   list-style: none;
   display: inline-block;
   width: auto;
}

.ul__portfolio__container ul li button{
    color: #767e9e;
    text-decoration: none;
    border: 1.0px solid #767e9e;
    border-radius: 5px; 
    display: block;
    background-color: transparent;
    height: 22px;
    border-radius: 5px;
    color: #767e9e;
    font-family: 'LatoRegular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: -20px;
}

.ul__portfolio__container ul li button:hover{
    color: #4adf05;
}

.grid__portfolio{
    display: grid;
    grid-template-rows: 187px 187px 187px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 20px 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.adoutUs{
    background-color: #f2f2f2;
    height: 734px;
    border-bottom: 6px solid #ffffff;
}

.h2__aboutUs{
    font-family: 'LatoBlack', sans-serif;
    color: #666d89;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 60px;
    letter-spacing: normal; 
}

.p__aboutUs__container{
    padding-left: 40px;
    padding-top: 21px;
}

.p__aboutUs{
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
}

.grid__aboutUs{
    display: grid;
    grid-template-rows: 300px 70px 40px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px 20px;
    margin-top: 40px;
    margin-left: 40px;  
}

.grid__aboutUs__text__container p{
    color: #767e9e;
    font-family: 'LatoRegular', sans-serif;
    font-size: 12px;
}

.grid__aboutUs__social__container{
    display: inline-block;
}

.social_ico{
    max-width: 30px;
    max-height: 30px;
    box-shadow: 0 0 0 2px #9297aa;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
}

