html {
  scroll-behavior: smooth;
}

body {
  font-family: "latoLight";
  font-size: 12px;
  margin: 0;
  padding: 0;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "LatoBold";
  font-size: 24px;
  font-weight: 900;
}

h2 {
  font-family: "LatoBlack";
  font-size: 30px;
  font-weight: 900;
}

h3 {
  font-family: "LatoBlack";
  font-size: 18px;
  font-weight: 900;
}

div {
  width: 100%;
}

.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}
@media (max-width: 767px) {
  .anchor {
    top: -48px;
  }
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
@media (max-width: 767px) {
  header {
    height: 71px;
    border: none;
  }
}

.header__wrapper {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 29px 40px 0px 40px;
}
@media (max-width: 767px) {
  .header__wrapper {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .header__wrapper h1 {
    margin-left: -30px;
    margin-top: 25px;
    font-size: 19.6875px;
    letter-spacing: -0.5px;
  }
}

.h1Star {
  color: #f06c64;
}

ul {
  font-family: "LatoRegular";
  display: flex;
  list-style: none;
}
@media (max-width: 767px) {
  ul {
    display: none;
  }
}
ul li {
  margin-left: 31px;
  margin-top: 9px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}

.nav__link {
  font-family: "latoBold";
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  display: block;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.nav-active {
  color: #f06c64;
}

a:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

.header__nav li:not(:first-child)::before {
  content: ".";
  position: absolute;
  left: -16px;
  top: -4px;
  font-weight: bold;
  color: #494e62;
}

.hamburger {
  display: none;
}
.hamburger .line {
  width: 25px;
  height: 2.4px;
  background-color: #ecf0f1;
  display: block;
  margin-top: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    width: 25px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 3;
  }
}

#hamburger {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hamburger__ul {
  display: none;
  background-color: #2d303a;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .hamburger__ul {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 278px;
    height: 100%;
    margin: 0;
    padding: 0px 0 0 71px;
    list-style: none;
  }
}
.hamburger__ul .menu__h1 h1 {
  margin-left: -30px;
  margin-top: 25px;
  font-size: 19.6875px;
  letter-spacing: -0.5px;
  margin-bottom: 184px;
}
.hamburger__ul .hamburger__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.5px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.hamburger__ul .hamburger-active {
  color: #f06c64;
}
.hamburger__ul a:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

.active-menu {
  visibility: visible;
  left: 0;
}

@keyframes bounce {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.wrapper__slider {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition-property: background-color;
  transition-duration: 2s;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .wrapper__slider {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper__slider {
    height: 100%;
  }
}

.wrapper__slider.blue-slider {
  background-color: #648BF0;
  border-bottom: 6px solid blue;
  transition-property: background-color;
  transition-duration: 2s;
}

.slider {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 1020px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .slider {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .slider {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 17px;
  }
}

.vertical-phone {
  padding: 0px 0px 11px 53px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .vertical-phone {
    width: 26.7%;
    height: auto;
    margin: 6% 0% 0 5.5%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .vertical-phone {
    width: 27.7%;
    height: auto;
    margin: 6% 0% 0 4%;
    padding: 0;
  }
}
@media (max-width: 374px) {
  .vertical-phone {
    width: auto;
    height: 50%;
  }
}

.horizontal-phone {
  padding: 0px 54px 12px 0px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .horizontal-phone {
    height: 44.4%;
    width: auto;
    margin: 6% 6% 0 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .horizontal-phone {
    width: 55%;
    height: auto;
    margin: 6% 5% 0 0;
    padding: 0;
  }
}
@media (max-width: 374px) {
  .horizontal-phone {
    width: 50%;
    height: auto;
  }
}

.left {
  width: 20px;
  height: 26px;
  margin: 281px 0px 0px 42px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .left {
    margin: 212px 0px 0px 29px;
  }
}
@media (max-width: 767px) {
  .left {
    margin: 100px 0px 0px 10px;
  }
}

.right {
  width: 20px;
  height: 26px;
  margin: 281px 39px 0px 0px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .right {
    margin: 212px 29px 0px 0px;
  }
}
@media (max-width: 767px) {
  .right {
    margin: 100px 10px 0px 0px;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .slider-container {
    width: 796px;
  }
}
@media (max-width: 767px) {
  .slider-container {
    width: 100%;
  }
}

.slide {
  height: 100%;
  display: none;
  position: relative;
  animation: 2s ease-in-out;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.slide-blue {
  background-color: #648BF0;
  height: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.horizontalPhone-off {
  background-color: black;
  height: 191px;
  width: 335px;
  margin-left: 424px;
  margin-top: -19px;
  position: absolute;
}
@media (max-width: 1019px) {
  .horizontalPhone-off {
    margin: 1.6% 4% 0 47%;
    height: 35.5%;
    width: 37%;
  }
}
@media (max-width: 767px) {
  .horizontalPhone-off {
    margin: 1.6% 4% 0 46%;
    height: 35.5%;
    width: 39%;
  }
}
@media (max-width: 374px) {
  .horizontalPhone-off {
    display: none;
  }
}

.phones {
  padding: 50px 0px 0px 250px;
}
@media (max-width: 1019px) {
  .phones {
    width: 54.25%;
    height: auto;
    margin: 6% 0% 0 25%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .phones {
    padding: 0;
    margin: 6% 0% 0 50%;
    width: 56.3%;
    height: auto;
    transform: translate(-50%, 0);
  }
}

.verticalPhone-off {
  background-color: black;
  height: 335px;
  width: 191px;
  margin-left: 66px;
  margin-top: -16px;
  position: absolute;
}
@media (max-width: 1019px) {
  .verticalPhone-off {
    padding: 0;
    margin: 1.8% 0 0 7%;
    height: 63%;
    width: 21.2%;
  }
}
@media (max-width: 767px) {
  .verticalPhone-off {
    padding: 0;
    margin: 1.8% 0 0 5.5%;
    height: 63%;
    width: 22.2%;
  }
}
@media (max-width: 374px) {
  .verticalPhone-off {
    display: none;
  }
}

.button__vertical-on {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-top: 181px;
  margin-left: 154px;
  border: none;
  text-decoration: none;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
}
@media (max-width: 1019px) {
  .button__vertical-on {
    height: 5%;
    width: 3%;
    margin: 24% 0 0 16%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .button__vertical-on {
    height: 5%;
    width: 3%;
    margin: 25% 0 0 15%;
    padding: 0;
  }
}
@media (max-width: 374px) {
  .button__vertical-on {
    display: none;
  }
}

.button__vertical-on:hover {
  cursor: pointer;
  background-color: red;
}

.button__horizontal-on {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-top: -19px;
  margin-left: 389px;
  border: none;
  text-decoration: none;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
}
@media (max-width: 1019px) {
  .button__horizontal-on {
    height: 5%;
    width: 3.5%;
    margin: 1.6% 0 0 42%;
  }
}

.button__horizontal-on:hover {
  cursor: pointer;
  background-color: red;
}

.display__on {
  display: none;
}

.button__off {
  display: none;
}

.button__vertical-off {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-top: 181px;
  margin-left: 154px;
  border: none;
  text-decoration: none;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
}
@media (max-width: 1019px) {
  .button__vertical-off {
    height: 5%;
    width: 3%;
    margin: 24% 0 0 16%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .button__vertical-off {
    height: 5%;
    width: 3%;
    margin: 25% 0 0 15%;
    padding: 0;
  }
}
@media (max-width: 374px) {
  .button__vertical-off {
    display: none;
  }
}

.button__vertical-off:hover {
  cursor: pointer;
  background-color: green;
}

.button__horizontal-off {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-top: -19px;
  margin-left: 389px;
  border: none;
  text-decoration: none;
  border: medium none;
  background-image: none;
  background: transparent;
  background-color: transparent;
}
@media (max-width: 1019px) {
  .button__horizontal-off {
    height: 5%;
    width: 3.5%;
    margin: 1.6% 0 0 42%;
  }
}

.button__horizontal-off:hover {
  cursor: pointer;
  background-color: green;
}

.wrapper__services {
  height: 500px;
  padding: 0px;
  justify-content: space-between;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}
.wrapper__services h2 {
  color: #666d89;
  letter-spacing: 0px;
  padding-top: 60px;
  padding-left: 40px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .wrapper__services h2 {
    padding-top: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .wrapper__services h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 24px;
    padding-left: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .wrapper__services {
    height: 674px;
    border: none;
  }
}
@media (max-width: 767px) {
  .wrapper__services {
    height: 100%;
    border: none;
    padding-bottom: 20px;
  }
}

.ourServicesContainer {
  padding-right: 40px;
  padding-left: 40px;
  color: #767e9e;
  padding-top: 18px;
  line-height: 29px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .ourServicesContainer {
    padding-right: 55px;
  }
}
@media (max-width: 767px) {
  .ourServicesContainer {
    padding-left: 32px;
    padding-right: 29px;
  }
}

.ourServicesText {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 57px;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .ourServicesText {
    max-height: 90px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .ourServicesText {
    max-height: 214px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
}

.footerServices {
  display: grid;
  grid-template-rows: 104px 104px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px 20px;
  padding-top: 45px;
  padding-left: 40px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .footerServices {
    grid-template-rows: 104px 104px 104px;
    grid-template-columns: 300px 300px;
    grid-gap: 40px 53px;
    padding-top: 34px;
  }
}
@media (max-width: 767px) {
  .footerServices {
    grid-template-rows: 104px 104px 104px 104px 104px 104px;
    grid-template-columns: 300px;
    grid-gap: 15px;
    padding-top: 25px;
    padding-right: 43px;
    padding-left: 32px;
  }
}
@media (max-width: 374px) {
  .footerServices {
    grid-template-rows: 124px 124px 124px 124px 124px 124px;
    grid-template-columns: 280px;
    grid-gap: 15px;
    padding-top: 25px;
    padding-right: 43px;
    padding-left: 32px;
  }
}

.allPicture {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 3px;
  padding-left: 13px;
  padding-top: 13px;
  margin-top: 6px;
  box-shadow: 0 0 0 2px #9297aa;
}

svg {
  fill: #9297aa;
}

.gridBlock {
  display: flex;
}

.innerBlock {
  margin: 0;
  padding: 0;
  padding-left: 22px;
  max-width: 242px;
}
.innerBlock p {
  font-family: "latoRegular";
  color: #767e9e;
  line-height: 21px;
  text-align: justify;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  max-height: 62px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.innerBlock h3 {
  color: #666d89;
  margin-bottom: 8px;
  letter-spacing: -0.012px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -1px;
  margin-top: 1px;
}

.footerServices .gridBlock:nth-child(2) .allPicture {
  padding-left: 17px;
  padding-top: 11px;
}
.footerServices .gridBlock:nth-child(3) .allPicture {
  padding-top: 14px;
}
.footerServices .gridBlock:nth-child(3) h3 {
  padding-left: 2px;
}
.footerServices .gridBlock:nth-child(4) .allPicture {
  padding-left: 17px;
}
.footerServices .gridBlock:nth-child(5) .allPicture {
  padding-top: 14px;
}
.footerServices .gridBlock:nth-child(6) h3 {
  padding-left: 2px;
}

.portfolio {
  background-color: #2d303a;
  height: 869px;
  border-bottom: 6px solid #323746;
  padding-bottom: 73px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .portfolio {
    padding-bottom: 63px;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .portfolio {
    padding-bottom: 0;
    height: 100%;
  }
}

.h2__portfolio {
  color: #666d89;
  padding-right: 40px;
  padding-top: 59px;
  padding-left: 40px;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  .h2__portfolio {
    padding: 42px 30px 0px 30px;
  }
}

.portfolio__p {
  font-size: 18px;
  color: #767e9e;
  padding-top: 22px;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: normal;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .portfolio__p {
    max-height: 90px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .portfolio__p {
    padding: 17px 30px 10px 30px;
    max-height: 110px;
    line-height: 30px;
  }
}

.ul__portfolio__container {
  padding: 7px 0px 0px 10px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .ul__portfolio__container {
    padding: 3px 0px 0px 10px;
  }
}
@media (max-width: 767px) {
  .ul__portfolio__container {
    padding: 5px 5px 0px 0px;
  }
}
.ul__portfolio__container ul {
  display: flex;
  list-style: none;
}
.ul__portfolio__container ul li {
  list-style: none;
  display: inline-block;
}
.ul__portfolio__container ul li button {
  text-decoration: none;
  border: 1px solid #767e9e;
  display: block;
  background-color: transparent;
  height: 22px;
  border-radius: 5px;
  color: #767e9e;
  font-family: "LatoRegular", sans-serif;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.27px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: -20px;
}
@media (max-width: 374px) {
  .ul__portfolio__container ul li button {
    font-size: 10px;
  }
}
.ul__portfolio__container ul li .active__button {
  color: #dedede;
  border: 1px solid #dedede;
}

.ul__portfolio__container ul li button:hover {
  color: red;
  background-color: #75ccd4;
  cursor: pointer;
}

.grid__portfolio {
  display: grid;
  grid-template-areas: "a a a a" "a a a a" "a a a a";
  grid-gap: 17px 20px;
  margin: 18px 40px 0px 40px;
}
@media (max-width: 1019px) {
  .grid__portfolio {
    grid-template-areas: "a a a" "a a a" "a a a" "a a a";
    margin: 27px 40px 0px 40px;
  }
}
@media (max-width: 767px) {
  .grid__portfolio {
    grid-template-areas: "a a" "a a" "a a" "a a";
    margin: 25px 30px 33px 30px;
    grid-gap: 11px 14px;
  }
}
.grid__portfolio .grid__portfolio_image__container {
  animation-name: animation-image;
  animation-duration: 2s;
}
.grid__portfolio .grid__portfolio_image {
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .grid__portfolio .grid__portfolio_image {
    height: 100%;
    width: 100%;
  }
}
.grid__portfolio_image.active-img {
  border: #f06c64 solid 5px;
}

.grid__portfolio_image:hover {
  cursor: pointer;
}

:nth-child(n+13) {
  display: none;
}

@media (max-width: 767px) {
  :nth-child(n+9) {
    display: none;
  }
}
@keyframes animation-image {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

.adoutUs {
  background-color: #f2f2f2;
  max-height: 734px;
  border-bottom: 6px solid #ffffff;
  padding-bottom: 73px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .adoutUs {
    height: 100%;
    border: none;
    padding-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .adoutUs {
    height: 100%;
    border: none;
    padding-bottom: 108px;
    max-height: 1754px;
  }
}

.h2__aboutUs {
  color: #666d89;
  padding-left: 40px;
  padding-top: 58px;
  letter-spacing: normal;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .h2__aboutUs {
    padding-top: 52px;
  }
}
@media (max-width: 767px) {
  .h2__aboutUs {
    padding-top: 32px;
    padding-left: 30px;
  }
}

.p__aboutUs__container {
  padding: 18px 40px;
}
@media (max-width: 767px) {
  .p__aboutUs__container {
    padding: 20px 30px 0px 30px;
  }
}

.p__aboutUs {
  color: #767e9e;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .p__aboutUs {
    max-height: 90px;
    padding-right: 20px;
    letter-spacing: 0.14px;
  }
}
@media (max-width: 767px) {
  .p__aboutUs {
    max-height: 220px;
    letter-spacing: 0.14px;
  }
}

.grid__aboutUs {
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 20px 20px;
  padding: 28px 40px 0px 40px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .grid__aboutUs {
    padding: 2.5% 40px 0px 40px;
    grid-gap: 2%;
  }
}
@media (max-width: 767px) {
  .grid__aboutUs {
    grid-template-areas: "a" "a" "a";
    padding: 6% 30px 0px 30px;
    grid-gap: 2.5%;
  }
}
.grid__aboutUs .grid__aboutUs_image {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  /*
      @media (min-width: ($tablet-width)) and (max-width: 1019px){
          max-width: 218.94px;
          max-height: 218.94px;
  }*/
}
@media (max-width: 767px) {
  .grid__aboutUs .grid__aboutUs_image {
    max-width: 314px;
    max-height: 314px;
  }
}
.grid__aboutUs .grid__aboutUs__text__container h3 {
  color: #666d89;
  margin: 12px 0px 0px 0px;
  letter-spacing: 0px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .grid__aboutUs .grid__aboutUs__text__container h3 {
    margin: 8px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .grid__aboutUs .grid__aboutUs__text__container h3 {
    margin: 13px 0px 0px 0px;
  }
}
.grid__aboutUs .grid__aboutUs__text__container p {
  color: #767e9e;
  font-family: "LatoRegular";
  margin: 8px 0 23px;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .grid__aboutUs .grid__aboutUs__text__container p {
    margin: 3px 0px 0px 0px;
    max-height: 65px;
  }
}
@media (max-width: 767px) {
  .grid__aboutUs .grid__aboutUs__text__container p {
    margin: 4px 0px 0px 0px;
  }
}
.grid__aboutUs .grid__aboutUs__text__container .adam_p {
  letter-spacing: -0.07px;
  word-spacing: 0.02px;
}

.social__container {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .social__container {
    margin: 10px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .social__container {
    margin: 13px 0px 0px 0px;
  }
}

.social_ico {
  box-shadow: 0 0 0 1px #9297aa;
  border-radius: 50%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 3px 10px 0px 0px;
}

.facebook {
  width: 8px;
  height: 14px;
}

.google {
  width: 14px;
  height: 14px;
}

.twitter {
  width: 14px;
  height: 12px;
}

.linkedin {
  width: 14px;
  height: 14px;
}

.quote__container {
  background-color: #f06c64;
  max-height: 654px;
  height: 100%;
  border-bottom: 6px solid #ea676b;
  color: #f0d8d9;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .quote__container {
    max-height: 631px;
    padding-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .quote__container {
    max-height: 969px;
    padding-bottom: 35px;
  }
}

.h2__quote {
  padding-left: 7px;
  letter-spacing: -0.12px;
  padding: 59px 0px 18px 40px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .h2__quote {
    padding: 53px 0px 0px 42px;
  }
}
@media (max-width: 767px) {
  .h2__quote {
    padding: 44px 0px 0px 30px;
  }
}

.p__quote {
  padding: 0px 40px 0px 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: normal;
  word-spacing: normal;
  max-height: 900px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .p__quote {
    max-height: 96px;
    margin-top: 18px;
    padding: 0px 42px 0px 42px;
  }
}
@media (max-width: 767px) {
  .p__quote {
    max-height: 224px;
    padding: 19px 40px 0px 30px;
  }
}

.contact__form {
  display: flex;
  padding: 44px 40px 40px 40px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .contact__form {
    padding: 26px 40px 0px 40px;
  }
}
@media (max-width: 767px) {
  .contact__form {
    display: block;
    padding: 27px 8% 0px 8%;
  }
}

.form__container {
  width: 620px;
  height: 418px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .form__container {
    min-width: 442px;
    min-height: 385px;
    width: 70%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .form__container {
    width: 100%;
    height: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1019px) {
  form {
    min-width: 442px;
    min-height: 385px;
  }
}

.form__input {
  font-family: "latoRegular";
  color: blanchedalmond;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 16px;
  font-size: 12px;
  background-color: #d6564f;
  border: none;
  border-radius: 6px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .form__input {
    min-height: 38px;
    margin-bottom: 12px;
    width: 93.5%;
  }
}
@media (max-width: 767px) {
  .form__input {
    margin-bottom: 12px;
  }
}

.form__textarea {
  font-family: "latoRegular";
  color: blanchedalmond;
  background-color: #d6564f;
  height: 159px;
  padding-top: 11px;
  padding-left: 15px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  resize: none;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .form__textarea {
    width: 93.5%;
  }
}

.form__button {
  margin-top: 15px;
  width: 136px;
  height: 38px;
  color: lightcyan;
  background: #FBC65F;
  border: none;
  border-radius: 5px;
  color: #886A30;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .form__button {
    margin-top: 17px;
  }
}
@media (max-width: 767px) {
  .form__button {
    width: 100%;
    height: 50px;
  }
}

.form__button:hover {
  background-color: #d6564f;
}

.contact__info {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin-left: 20px;
  margin-top: -2px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .contact__info {
    margin-left: 0px;
    height: 225px;
    width: 221px;
    margin-top: -2px;
  }
}
@media (max-width: 767px) {
  .contact__info {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
  }
}
.contact__info h3 {
  color: #f0d8d9;
  letter-spacing: -0.01px;
  word-spacing: 0.12px;
}
.contact__info p {
  font-family: "LatoRegular";
  margin-top: 9px;
  text-align: justify;
  letter-spacing: -0.01px;
  word-spacing: -0.2px;
  font-size: 12px;
  line-height: 21px;
  color: #f0d8d9;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .contact__info p {
    margin-top: 0px;
    height: 142px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .contact__info p {
    margin-top: 0px;
  }
}
.contact__info a {
  font-family: "LatoRegular", sans-serif;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  color: #f0d8d9;
  font-weight: normal;
  letter-spacing: normal;
}

.contact_link {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 26px 0px 0px 0px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .contact_link {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .contact_link {
    margin-top: 0px;
  }
}

.contact__info a:hover {
  color: lawngreen;
}

.contact__address {
  padding: 0px 0px 0px 3px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .contact__address {
    padding: 7px 0px 0px 3px;
  }
}
@media (max-width: 767px) {
  .contact__address {
    padding: 1px 0px 0px 3px;
  }
}

.contact__phone {
  margin: 0px;
  padding: 7px 0px 0px 3px;
}
@media (max-width: 767px) {
  .contact__phone {
    padding: 10px 0px 0px 3px;
  }
}

.contact__email {
  margin: 0px;
  padding: 7px 0px 0px 2px;
}
@media (max-width: 767px) {
  .contact__email {
    padding: 11px 0px 0px 2px;
  }
}

.contact__address::before {
  content: url(./assets/img/gps.svg);
  margin-right: 13px;
}

.contact__phone::before {
  content: url(./assets/img/tel.svg);
  margin-right: 11px;
}

.contact__email::before {
  content: url(./assets/img/mail.svg);
  margin-right: 9px;
}

#message-block {
  font-family: "LatoRegular", sans-serif;
  margin: 0 auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  text-align: center;
  display: block;
}

#message-block.post__message {
  display: none;
}

#message {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0%;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #ea676b;
  color: #f2f2f2;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-container,
.describe-container {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background-color: #2d303a;
}

.footer__content {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-family: "LatoRegular", sans-serif;
  color: #666d89;
  padding-left: 42px;
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: 767px) {
  .footer__copy {
    display: none;
  }
}

.footer__ico {
  display: flex;
  margin-right: 33px;
  width: 162px;
}
@media (max-width: 767px) {
  .footer__ico {
    margin-left: 30%;
  }
}

.footer__social_ico {
  box-shadow: 0 0 0 1px #9297aa;
  border-radius: 50%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-left: 1px;
  margin-right: 10px;
}

.facebook {
  width: 8px;
  height: 14px;
}

.google {
  width: 14px;
  height: 14px;
}

.twitter {
  width: 14px;
  height: 12px;
}

.linkedin {
  width: 14px;
  height: 14px;
}

.footer__social_ico:hover {
  background-color: lawngreen;
}

.social_ico:hover {
  background-color: lawngreen;
}

.form__input:required:focus:valid {
  background-color: #4adf05;
}

.form__input:required:focus:invalid {
  background-color: #ff0000;
}

.wrapper {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  /*
  @media (min-width: ($tablet-width)) and (max-width: 1019px) {
      max-width: $tablet-width;
   }

  @media(max-width: (($tablet-width)-1px)){
      max-width: $mobile-small-width;
  }*/
}

.wrapper__portfolio {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1019px) {
  .wrapper__portfolio {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .wrapper__portfolio {
    max-width: 375px;
  }
}

@font-face {
  font-family: "LatoBlack";
  src: url("./assets/fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url("./assets/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("./assets/fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoThin";
  src: url("./assets/fonts/lato/Lato-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
input::-webkit-input-placeholder {
  color: #f48c8f;
}

input::-moz-placeholder {
  color: #f48c8f;
}

textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

textarea::-moz-placeholder {
  color: #f48c8f;
}

/*# sourceMappingURL=style.css.map */
